<!DOCTYPE html>
<html lang="en">
<head>
	<title>ABOUT</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\91948\OneDrive\Documents\Sprint-3\static\css\intro1.css">
</head>
<body>
     <nav>
        <div class="logo">Introduction</div>
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="intro.html">INTRODUCTION</a></li>
            <li><a href="launch.html">LAUNCH</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <p id="para">The use of doctor-computer interaction devices in the operation room requires new modalities. It supports medical imaging manipulation while allowing doctors' hands to remain sterile and provides fast response times.</p>
    <p>Humans can recognize body and sign language easily. This is possible due to the combination of vision and synaptic interaction that were formed along brain devolopment. In order to replicate this skill in computers, some problems need to be solved: how to separate objects of interest in images and which image capture technology and classification technique are more appropriate, among others.</p>
    <p>In this project Gesture - based desktop automation, First the model is pre-trained on the images of different hand gestures, such as a showing numbers with fingers as 1, 2, 3, 4. This model uses the integrated webcam to capture the video frame. The image of the gesture captured in the video frame is compared with the pre-trained model and the gesture is identified.</p>
</body>
</html>