<!DOCTYPE html>
<html>
    <head>
        <title>A Gesture-based Tool for Sterile Browsing of Radiology Images</title>
        <link rel="stylesheet" href="C:\Users\91948\OneDrive\Documents\Sprint-3\static\css\styles.css">
    </head>
    <body>
        <nav>
            <div class="logo">HAND GESTURE RECOGNITION</div>
            <ul>
                <li><a href="home.html">HOME</a></li>
                <li><a href="intro.html">INTRODUCTION</a></li>
                <li><a href="launch.html">LAUNCH</a></li>
            </ul>
        </nav>
        <section>
    
        </section>
    </body>
</html>